body { 
	background: url(../images/pacmanBackground.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    font-family: 'Roboto', sans-serif;
	background-image:  url("../images/guitar.jpg");
	/* url("C:/Users/forwa/OneDrive/Documents/HomeWork/TriviaGame/assets/images/guitar.jpg"); */
	
}
        



h1,
h2,
h3 {
	font-family: 'Press Start 2P', cursive;
	color: white;
	padding: 50px;
	text-shadow: 2px 2px red;
}

.answer,
#timer {
	font-weight: 900;
}

#start {
	color: black;
}

.choices {
	text-align: center;
    margin: 0 35%;
    color: orangered;
}

.choices:hover {
    background-color: lightslategray;
    cursor: pointer;
}

#gameScreen {
	-webkit-box-shadow: 7px 5px 47px 0px rgba(255,0,0,0.76);
	-moz-box-shadow: 7px 5px 47px 0px rgba(255,0,0,0.76);
    box-shadow: 7px 5px 47px 0px rgba(255,0,0,0.76);
    background-image: url("../images/guitar.jpg");
}

.shadow {
	-webkit-box-shadow: -7px 6px 5px -1px rgba(255,0,0,0.79);
	-moz-box-shadow: -7px 6px 5px -1px rgba(255,0,0,0.79);
    box-shadow: -7px 6px 5px -1px rgba(255,0,0,0.79);
    
}

